.delete {
  padding: 40px 12px 0 12px;

  &__title {
    text-align: center;
  }

  &__buttonWrap {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  &__button {
    padding: 8px 96px;
    text-align: center;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.legends {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 50%;
    @media screen and (max-width: 680px) {
      width: 100%;
      margin-left: 32px;
      font-size: 1.3rem;
    }
  }
}

.paging {
  padding: 0;
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  gap: 8px;
  list-style: none;
}

.mat-cancel {
  background-color: #3d3f40;
  color: #fff;
}
.mat-delete {
  background-color: #9e2c3f;
  color: #fff;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
