.card {
  &__title {
    font-family: "Noto Serif JP", serif;
  }
  &__image {
    border-radius: 100%;
    object-fit: cover;
    background: var(--base-background);
  }
  &__content {
    font-family: "Noto Serif JP", serif;
  }
}
