.header {
  background: var(--header-gradient);
  &__title {
    margin: 0 auto;
    font-family: "Noto Serif JP", serif;
  }

  &__button {
    &--rigit {
      position: absolute;
      right: 16px;
    }
  }

  &__icon {
  }
}

.mat-toolbar {
  font-family: inherit;
}
