.top {
  padding: 120px 12px 0 12px;
  @media screen and (max-width: 640px) {
    padding: 60px 12px 0 12px;
  }
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.size {
  text-align: center;
  &__title {
    font-size: 24px;
  }

  &__buttonWrap {
    display: block;
  }
}

.card-area {
  margin: 80px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  max-width: 1040px;

  @media screen and (max-width: 1000px) {
    margin-top: 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 680px) {
    margin-top: 60px;
    grid-template-columns: 1fr;
  }
}

.not-found {
  margin-top: 80px;
  text-align: center;
  font-family: Roboto;
  .mat-icon {
    margin: 0 auto;
    font-size: 120px;
    height: 120px;
    width: 120px;
  }
}

.categorys {
  margin-top: 24px;
}
