.main {
  min-height: 100vh;
  padding: 120px 16px 0 16px;
  @media screen and (max-width: 640px) {
    padding: 60px 16px 0 16px;
  }
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.size {
  text-align: center;
  &__title {
    font-size: 24px;
  }

  &__buttonWrap {
    display: block;
  }
}

.card-area {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 640px) {
    margin-top: 60px;
    grid-template-columns: 1fr;
  }
  gap: 16px;
}

.not-found {
  margin-top: 80px;
  text-align: center;
  font-family: Roboto;
  .mat-icon {
    margin: 0 auto;
    font-size: 120px;
    height: 120px;
    width: 120px;
  }
}

.categorys {
  margin-top: 24px;
}
