<div class="create">
  <form
    *ngIf="options"
    #formDirective="ngForm"
    [formGroup]="options"
    (ngSubmit)="onSubmit(options, formDirective)"
    class="create__form"
  >
    <div class="container">
      <section class="section">
        <mat-form-field appearance="fill" class="section__name">
          <mat-label>人物名</mat-label>
          <input matInput placeholder="人物名" formControlName="name" />
          <mat-error *ngIf="checkError('name', 'required')">必須です</mat-error>
        </mat-form-field>
      </section>
      <section class="section">
        <mat-form-field class="section__meigen" appearance="fill">
          <mat-label>名言</mat-label>
          <textarea
            matInput
            class="section__textarea"
            formControlName="meigen"
          ></textarea>
          <mat-error *ngIf="checkError('meigen', 'required')"
            >必須です</mat-error
          >
        </mat-form-field>
      </section>
      <section class="section" formGroupName="category">
        <h4>カテゴリー ※1つ以上選択</h4>
        <p *ngFor="let item of category$ | async">
          <mat-checkbox [formControlName]="item.id">{{
            item.name
          }}</mat-checkbox>
        </p>
      </section>
      <div class="create__buttonWrap">
        <button
          class="create__button"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!options.valid"
        >
          作成する
        </button>
      </div>
    </div>
  </form>
</div>
