/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Serif JP", serif, "Helvetica Neue", sans-serif;
}

.gradient-text {
  background: linear-gradient(-70deg, #64acff 0%, #a2facf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
}
